body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roseLogo{
    max-width: 350px;
    display: block;
    margin: auto;
}

#rosefireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#majorSelectLabel{
    font-size: 2em;
    color: black;
    margin-bottom: 100px;
}

.form-control{
    font-size: 1.1em;
}

.btn{
    color: white;
    background: #800000;
}

#requiredMajorsColumn{
    background-color: black;
}

#coursePlanningPage{
    margin: 0;
    margin-top: 50px;
}

.card{
    margin: 20px;
}
