body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roseLogo{
    max-width: 350px;
    display: block;
    margin: auto;
    margin-top: 100px;
}

#rosefireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#majorSelectLabel{
    font-size: 2em;
    color: black;
    margin-bottom: 100px;
}

.form-control{
    font-size: 1.1em;
}

.btn{
    color: white;
    background: #800000;
}

#requiredMajorsColumn{
    height: 90.9vh;
}

.card{
    margin: 10px;
    text-align: center;
}
.page-container{
    margin-top: 40px;
}

.navbar{
    z-index: 999;
}

#requiredMajorsColumnContainer{
    margin-top: 15px;
}

#dw-s1{
    background-color: lightgrey;
}

.input-group{
    margin-top:10px;
}

#exportToForm{
    margin-top: 2px;
}

#quarterColumns{
    text-align: center;
    height:80vh;
}

#summerContainer, #fallContainer, #winterContainer, #springContainer{
    background-color: lightgray;
    height: 75vh;
    overflow: auto;
}

#summerContainer .card, #fallContainer .card, #winterContainer .card, #springContainer .card{
   max-height: 100px;
}

.card h5.card-title{
    font-size: 1.75vw;
}

.card-subtitle{
    font-size: 1.25vw;
}
#majorSelectionPage{
    margin-top: 100px;
}

#signOut{
    margin: 0;
    margin-left: auto;
}

.selected{
    border: 5px solid #800000;
}

/* .form{
    max-height: 93px;
} */
.custom-select:focus{
    border-color: #800000;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 5px rgb(129, 0, 0);
}

.card-subtitle{
    font-size: 1.11vw;
}

.btn-danger.custom-file-control:before, .btn.btn-danger {
    color: #f44336;
    background-color: white;
    border-color: #ccc;
}
.btn.btn-danger:hover{
    background-color: white;
}