body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roseLogo{
    max-width: 350px;
    display: block;
    margin: auto;
}

#rosefireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#majorSelectLabel{
    font-size: 2em;
    color: black;
    margin-bottom: 100px;
}

.form-control{
    font-size: 1.1em;
}

.btn{
    color: white;
    background: #800000;
}

#requiredMajorsColumn{
    height: 90.9vh;
}

.card{
    margin: 10px;
    text-align: center;
}
.page-container{
    margin-top: 40px;
}

.navbar{
    z-index: 999;
}

#requiredMajorsColumnContainer{
    margin-top: 15px;
}

#dw-s1{
    background-color: lightgrey;
}

.input-group{
    margin-top:10px;
}

#exportToForm{
    margin-top: 2px;
}

#quarterColumns{
    text-align: center;
    height:80vh;
}

#summerContainer, #fallContainer, #winterContainer, #springContainer{
    background-color: lightgray;
    height: 75vh;
    overflow: auto;
}

#summerContainer .card, #fallContainer .card, #winterContainer .card, #springContainer .card{
   max-height: 100px;
}

.card h5.card-title{
    font-size: 1.75vw;
}

.card-subtitle{
    font-size: 1.25vw;
}